<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <title>Band Names</title>
</head>

<body>
    <div id="app">
        <h1>Band.Names</h1>
        <p>Trying to to think of a cool band name?? Enter in some nouns and adjectives and let Band.Names make a cool combination for a unique name!</p>
        <form @submit.prevent="addedNounComponent">
            <input v-model="addedNoun" placeholder="Noun">
            <button type="submit">Add</button>
        </form>
        <br/>

        <form @submit.prevent="addedAdjectiveComponent">
            <input v-model="addedAdjective" placeholder="Adjective">
            <button type="submit">Add</button>
        </form>

        <br/>
        <div class="controls">
            <button v-on:click="generateName">Make a Name</button>
            <button v-on:click="showNoun">Show Nouns</button>
            <button v-on:click="showAdjective">Show Adjectives</button>
        </div>
        <h3 v-show="current.noun !== '' && current.adjective !== ''">{{current.adjective}} {{current.noun}} </h3>
        <div id="content">
            <div id="nouns" v-show="showNouns === true">
                <h4>Your nouns</h4>
                <ul>
                    <li v-for="item in nouns">{{item}}</li>
                </ul>
            </div>

            <div id="adjectives" v-show="showAdjectives === true">
                <h4>Your adjectives</h4>
                <ul>
                    <li v-for="item in adjectives">{{item}}</li>
                </ul>
            </div>
        </div>
        
    

        <footer>
            <a href="https://github.com/tkarr21/cp3.git">GitHub</a>
        </footer>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/script.js"></script>
</body>

</html>