body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #b193a4;
    margin-bottom: 80px;
}

button {
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

input {
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

ul {
    list-style-type: none;
}


footer {
    background-color: #4f4848;
    color: white;
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
    position: fixed;
    text-align: center;
}

#content {
    margin-right: 200px;
  }

#nouns {
    float: left;
    width: 50%;
    margin-right: 10px;
    
}

#nouns ul {
    text-align: left;
}

#adjectives {
    float: right;
    width: 200px;
    /*margin-right: -200px;*/
}

#cleared {
    clear: both;
}

.nameItem h1 {
    font-family: 'Orbitron', sans-serif;
}

a {
    
    color: white;
}